/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
html,
body {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Rest of your CSS remains unchanged */
.dashboard-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.widget-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: #ED1E24;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.card-header i {
    font-size: 24px;
    margin-right: 10px;
}

.card-header h2 {
    font-size: 22px;
}

.card-content {
    padding: 20px;
}

.card-content p {
    margin: 0 0 10px;
}

.card-content a {
    display: block;
    text-align: center;
    background-color: #848585;
    color: #fff;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
}

.card-content a:hover {
    background-color: #ED1E24;
}

/* Birthday */
.nearby-users {
    max-height: 300px;
    overflow-y: auto;
}

.nearby-user {
    border-top: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nearby-user img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.user-info {
    flex-grow: 1;
}

.nearby-user h5 {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nearby-user p {
    margin: 3px 0;
    font-size: 12px;
}

.nearby-user button {
    background-color: #848585;
    color: #fff;
    padding: 2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
}

.nearby-user button:hover {
    background-color: #848585;
}

.work-anniversary-card {
    background-color: white;
    color: black;
}

.work-anniversary-card .nearby-user button {
    background-color: #848585;
}

.announcement-card {
    background-color: white;
    color: black;
}

.announcement-card .announcement-list {
    list-style-type: none;
    padding: 0;
}

.announcement-card .announcement-list li {
    margin-bottom: 10px;
}

.announcement-card .view-all-button {
    background-color: #848585;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.announcement-card .view-all-button:hover {
    background-color: #ED1E24;
}